<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand" href="html/ltr/vertical-menu-template/index.html"><span class="brand-logo">
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="missing_logo" height="36"></span>
          <h2 class="brand-text" style="font-size: medium; margin-left: -10px;">Webpaget</h2></a></li>
      <li class="nav-item nav-toggle" style="margin-top: 5px;"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" nav-item"><a class="d-flex align-items-center" href="index.html"><i data-feather="home"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Dashboards</span><span class="badge badge-light-warning badge-pill ml-auto mr-1">2</span></a>
        <ul class="menu-content">
          <li><a class="d-flex align-items-center" href="dashboard-analytics.html"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Analytics">Analytics</span></a>
          </li>
          <li><a class="d-flex align-items-center" href="dashboard-ecommerce.html"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="eCommerce">eCommerce</span></a>
          </li>
        </ul>
      </li>
      <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">Apps &amp; Pages</span><i data-feather="more-horizontal"></i>
      </li>
      <li class=" nav-item"><a class="d-flex align-items-center" href="{{ url_for('dashboard.mysites')}}"><i data-feather="mail"></i><span class="menu-title text-truncate" data-i18n="Email">My sites</span></a>
      </li>
      <li class=" nav-item"><a class="d-flex align-items-center" href="#"><i data-feather="file-text"></i><span class="menu-title text-truncate" data-i18n="Invoice">Messages</span></a>
        <ul class="menu-content">
          <li><a class="d-flex align-items-center" href="#"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="List">Mails</span></a>
          </li>
          <li><a class="d-flex align-items-center" href="#"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Preview">Notifications</span></a>
          </li>
          </li>
        </ul>
      <li class=" nav-item"><a class="d-flex align-items-center" href="{{ url_for('dashboard.templates') }}"><i data-feather="save"></i><span class="menu-title text-truncate" data-i18n="File Manager">Create Site</span></a>
      </li>

      <li class=" nav-item"><a class="d-flex align-items-center" href="{{ url_for('settings.setting')}}"><i data-feather="type"></i><span class="menu-title text-truncate" data-i18n="Typography">Settings</span></a>
      </li>

  </div>
</div>
<!-- END: Main Menu-->
