<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand" href="html/ltr/vertical-menu-template/index.html"><span class="brand-logo">
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="missing_logo" height="36"></span>
          <h2 class="brand-text" style="font-size: medium; margin-left: -10px;">Webpaget</h2></a></li>
      <li class="nav-item nav-toggle" style="margin-top: 5px;"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

      <li class=" navigation-header"><span>Apps &amp; Menu</span><i data-feather="more-horizontal"></i>
      </li>
      <li class=" nav-item"><a class="d-flex align-items-center" href="{{ url_for('dashboard.mysites')}}"><i data-feather="globe"></i><span class="menu-title text-truncate" data-i18n="Email">My sites</span></a>
      </li>
      <li class=" nav-item"><a class="d-flex align-items-center" href="{{ url_for('messages.inbox')}}"><i data-feather="mail"></i><span class="menu-title text-truncate" data-i18n="Email">Messages</span></a>
      </li>
      <li class=" nav-item"><a class="d-flex align-items-center" href="{{ url_for('dashboard.templates') }}"><i data-feather="file"></i><span class="menu-title text-truncate" data-i18n="File Manager">Create Site</span></a>
      </li>
      <li class=" nav-item"><a class="d-flex align-items-center" href="{{ url_for('settings.setting')}}"><i data-feather="settings"></i><span class="menu-title text-truncate" data-i18n="Typography">Settings</span></a>
      </li>
  </div>
</div>
<!-- END: Main Menu-->
