<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="author" content="Trimatrix Lab">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <title>Welcome to my resume website</title>
      <link rel="icon" href="images/site/fav-icon.png">
      <link rel="apple-touch-icon" href="images/site/apple-touch-icon.png">

      <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- STYLES -->
      <link href="/static/css/elegant/font-awesome.min.css" rel="stylesheet">
      <link href="/static/css/elegant/animate.min.css" rel="stylesheet">
      <link href="/static/css/elegant/magnific-popup.css" rel="stylesheet">
      <link href="/static/css/elegant/swiper.min.css" rel="stylesheet">
      <link href="/static/css/elegant/materialize.css" rel="stylesheet">
      <link href="/static/css/elegant/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/elegant/style.css" id="switch_style" rel="stylesheet">
   </head>
   <body>
      <!--==========================================
         HEADER
         ===========================================-->
      <header id="home">
         <nav id="theMenu" class="menu">
            <!--MENU-->
            <div id="menu-options" class="menu-wrap">
               <!--PERSONAL LOGO-->
               <div class="logo-flat">
                  <img alt="personal-logo" class="img-responsive" src="{{ url_for('static', filename='images/profiles/'+resume_site.profile_picture) }}">
               </div>
               <br>
               <!--OPTIONS-->
               <a href="#home"><i class="title-icon fa fa-user"></i>Home</a>
               <a href="#about"><i class="title-icon fa fa-dashboard"></i>About</a>
               <a href="#education"><i class="title-icon fa fa-graduation-cap"></i>Education</a>
               <a href="#skills"><i class="title-icon fa fa-sliders"></i>Skills</a>
               <a href="#experience"><i class="title-icon fa fa-suitcase"></i>Experience</a>
               <a href="#portfolios"><i class="title-icon fa fa-archive"></i>Portfolios</a>
               <a href="#testimonials"><i class="title-icon fa fa-users"></i>Testimonials</a>
               <a href="#contact"><i class="title-icon fa fa-envelope"></i>Contact</a>
            </div>
            <!-- MENU BUTTON -->
            <div id="menuToggle">
               <div class="toggle-normal">
                  <i class="material-icons top-bar">remove</i>
                  <i class="material-icons middle-bar">remove</i>
                  <i class="material-icons bottom-bar">remove</i>
               </div>
            </div>
         </nav>
         <!--HEADER BACKGROUND-->
         <div class="header-background section"></div>
      </header>
      <!--==========================================
         V-CARD
         ===========================================-->
      <div id="v-card-holder" class="section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <!-- V-CARD -->
                  <div id="v-card" class="card">
                     <!-- PROFILE PICTURE -->
                     <div id="profile" class="right">
                        <img alt="profile-image" class="img-responsive" src="{{ url_for('static', filename='images/profiles/'+resume_site.profile_picture) }}">
                        <div class="slant"></div>
                     </div>
                     <div class="card-content">
                        <!-- NAME & STATUS -->
                        <div class="info-headings">
                           <h4 class="text-uppercase left">John DOE</h4>
                           <h6 class="text-capitalize left">{{ resume_site.tagline }}</h6>
                        </div>
                        <!-- CONTACT INFO -->
                        <div class="infos">
                           <ul class="profile-list">
                              <li class="clearfix">
                                 <span class="title"><i class="material-icons">email</i></span>
                                 <span class="content">john.doe@gmail.com</span>
                              </li>
                              <li class="clearfix">
                                 <span class="title"><i class="material-icons">language</i></span>
                                 <span class="content">yourpersonalwebsite.com</span>
                              </li>
                              <li class="clearfix">
                                 <span class="title"><i class="material-icons">phone</i></span>
                                 <span class="content">+152 25634 254 846</span>
                              </li>
                              <li class="clearfix">
                                 <span class="title"><i class="material-icons">place</i></span>
                                 <span class="content">LampStreet 34/3, London, UK</span>
                              </li>
                           </ul>
                        </div>
                        <!--LINKS-->
                        <div class="links">

                           {% if resume_site.facebook %}
                            <a target="_blank" href="https://facebook.com/{{resume_site.facebook}}" id="first_one"
                                class="social btn-floating indigo"><i
                                class="fa fa-facebook"></i></a>
                           {% endif %}
                           
                           {% if resume_site.twitter %}
                            <a target="_blank" href="https://twitter.com/{{resume_site.twitter}}" class="social  btn-floating blue"><i
                                class="fa fa-twitter"></i></a>
                           {% endif %}

                           {% if resume_site.instagram %}
                           <a target="_blank" href="https://instagram.com/{{resume_site.instagram}}" class="social  btn-floating red"><i
                              class="fa fa-instagram"></i></a>
                           {% endif %}

                           {% if resume_site.github %}
                           <a target="_blank" href="https://github.com/{{resume_site.github}}" class="social  btn-floating blue darken-3"><i
                              class="fa fa-github"></i></a>
                           {% endif %}

                           {% if resume_site.youtube %}
                            <a target="_blank" href="https://youtube.com/{{resume_site.youtube}}" class="social  btn-floating blue darken-3"><i
                                class="fa fa-youtube"></i></a>
                           {% endif %}

                           {% if resume_site.linkedin %}
                            <a target="_blank" href="https://linkedin.com/{{resume_site.linkedin}}" class="social  btn-floating blue darken-3"><i
                                class="fa fa-linkedin"></i></a>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--==========================================
         ABOUT
         ===========================================-->
      <div id="about" class="section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <!-- DETAILS -->
                  <div id="about-card" class="card">
                     <div class="card-content">
                        <!-- ABOUT PARAGRAPH -->
                        <h6 style="text-align: center;">{{ resume_site.intro_title }}</h6>
                        {{ resume_site.introduction|safe }}
                     </div>
                     <!-- BUTTONS -->
                     <div id="about-btn" class="card-action">
                        <div class="about-btn">
                           {% if resume_site.pdf_resume %}
                           <!-- DOWNLOAD CV BUTTON -->
                           <a href="{{ url_for('resume.download', filename=resume_site.pdf_resume) }}" class="btn waves-effect">Download CV</a>
                           {% endif %}
                           <!-- CONTACT BUTTON -->
                           <a href="#contact" class="btn waves-effect">Contact Me</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--==========================================
         EDUCATION
         ===========================================-->
      {% if resume_site.edus() %}
      <section id="education" class="section">
         <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
               <h4 class="text-uppercase text-center"><img src="/static/images/resume_img/book.png" alt="demo">Education</h4>
            </div>
            <div id="timeline-education">
               {% for edu in resume_site.edus() %}
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot">
                        <h6>{{ edu.field|first }}</h6>
                    </div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">
                            <!-- TIMELINE TITLE -->
                            <h6 class="timeline-title">{{ edu.field }}</h6>
                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">
                            <h6>
                                <small>{{ edu.school }}</small>
                            </h6>
                            <h6>
                                <small>{{ edu.start_month }} {{ edu.start_year }} - {{ edu.end_month }} {{ edu.end_year }}</small>
                            </h6>
                            </div>
                            <!-- TIMELINE PARAGRAPH -->
                            <p>
                                {{ edu.description }}
                            </p>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
         </div>
      </section>
      {% endif %}
      <!--==========================================
         SKILLS
         ===========================================-->
      <section id="skills" class="section">
         <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
               <h4 class="text-uppercase text-center"><img src="/static/images/resume_img/mixer.png" alt="demo">Skills</h4>
            </div>
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div id="skills-card" class="card">
                     <div class="card-content">
                        <div class="row">
                            {% for cat in resume_site.unique_sk_category() %}
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="skills-title">
                                        <h6 class="text-center">{{ cat }}</h6>
                                    </div>
                                    {% for sk in resume_site.get_skills_by_cat(cat) %}
                                        <div class="skillbar" data-percent="{{sk.level}}%">
                                            <div class="skillbar-title"><span>{{sk.skill}}</span></div>
                                            <div class="skillbar-bar"></div>
                                            <div class="skill-bar-percent">{{sk.level}}%</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--==========================================
         EXPERIENCE
         ===========================================-->
      {% if resume_site.workExps() %}
      <section id="experience" class="section">
         <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
               <h4 class="text-uppercase text-center"><img src="/static/images/resume_img/layers.png" alt="demo">Experience</h4>
            </div>
            <div id="timeline-experience">
               {% for workexp in resume_site.workExps() %}
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot">
                        <h6>{{ workexp.position|first }}</h6>
                    </div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">
                            <!-- TIMELINE TITLE -->
                            <h6 class="timeline-title">{{ workexp.position }}</h6>
                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">
                            <h6>
                                <small>{{ workexp.company }}</small>
                            </h6>
                            <h6>
                                <small>{{ workexp.start_month }} {{ workexp.start_year }} - {{ workexp.end_month }} {{ workexp.end_year }}</small>
                            </h6>
                            </div>
                            <!-- TIMELINE PARAGRAPH -->
                            <p>
                            {{ workexp.description }}
                            </p>
                            
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
         </div>
      </section>
      {% endif %}
      <!--==========================================
         PORTFOLIOS
         ===========================================-->
      <section id="portfolios" class="section">
         <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
               <h4 class="text-uppercase text-center"><img src="/static/images/resume_img/safe.png" alt="demo">Portfolios</h4>
            </div>
            <div id="portfolios-card" class="row">
               <!--OPTIONS-->
               <ul class="nav nav-tabs">
                  <!--ALL CATEGORIES-->
                  <li class="active waves-effect list-shuffle">
                     <a id="all-sample" class="active" href="#all"
                        data-toggle="tab">ALL</a>
                     <!--CATEGORIES-->
                  {% for tag in resume_site.get_port_tags() %}
                     <li class="waves-effect list-shuffle"><a class="cate" href="#{{tag[0]}}" data-toggle="tab">{{tag[0]}}</a></li>
                  {% endfor %}
               </ul>
               <!--CATEGORIES CONTENT-->
               <div class="tab-content">
                  <!--All CATEGORIES-->
                  <div id="all"></div>
                  {% for tag in resume_site.get_port_tags() %}
                     <div id="{{tag[0]}}">
                        {% for port in resume_site.get_port_from_tag(tag[0]) %}
                        <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                           <figure class="port-effect-up">
                              <img src="{{ url_for('static', filename='images/portfolios/'+port.portpic()) }}" class="img-responsive" alt="portfolio image"/>
                              <figcaption>
                                 <h2>Lightbox <span> IMAGE</span></h2>
                                 <p>Two Hover Effect For Portfolio Grid Blocks. Its Up</p>
                                 <a href="{{ url_for('static', filename='images/portfolios/'+port.portpic()) }}" class="popup-image"
                                    data-effect="mfp-move-horizontal">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                        {% endfor %}
                     </div>
                  {% endfor %}
               </div>
               <!--PORTFOLIOS ADD GALLERY BUTTON-->
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <button id="add-more" class="center-block btn-large waves-effect"><i id="port-add-icon"
                        class="fa fa-plus"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--==========================================
         TESTIMONIALS AND CLIENTS
         ===========================================-->
      {% if resume_site.testimos() %}
      <section id="testimonials" class="section">
         <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
               <h4 class="text-uppercase text-center"><img src="/static/images/resume_img/handshake.png" alt="demo">Testimonials</h4>
            </div>
            <div id="testimonials-card" class="row card">
               <div class="col-md-12 col-xs-12">
                  <!-- SLIDER STRUCTURE -->
                  <div id="clients-slider"
                     class="swiper-container swiper-container-clients">
                     <div class="swiper-wrapper">
                        {% for testi in resume_site.testimos() %}
                            <div class="swiper-slide">
                            <div class="col-md-12">
                                <!--CLIENT IMAGE-->
                                <div class="client-img center-block">
                                    <img alt="client-image" class="center-block" src="{{ url_for('static', filename='images/testimonials/'+testi.picture) }}">
                                </div>
                                <!--CLIENT QUOTE-->
                                <blockquote>
                                    {{ testi.description }}
                                    <cite>{{ testi.name }}, {{ testi.company }}.</cite>
                                </blockquote>
                            </div>
                            </div>
                        {% endfor %}
                     </div>
                     <!-- Add Pagination -->
                     <div class="swiper-pagination swiper-pagination-clients"></div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      {% endif %}
      <!--==========================================
         CONTACT
         ===========================================-->
      <section id="contact" class="section">
         <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
               <h4 class="text-uppercase text-center"><img src="/static/images/resume_img/envelope.png" alt="demo">Contact</h4>
            </div>
            <div class="row">
               <div id="contact-card" class="col-md-12 col-sm-12 col-xs-12">
                  <!-- CONTACT FORM -->
                  <div class="card">
                     <div class="card-content">
                        <form id="contact-form" data-site-id='{{ resume_site.site_id }}'>
                           <input type='hidden' id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
                           <!-- NAME -->
                           <div class="input-field">
                              <input id="full_name" type="text" class="validate" name="full_name" required>
                              <label for="full_name">Name</label>
                           </div>
                           <!--SUBJECT-->
                           <div class="input-field">
                              <input id="subject" type="text" class="validate" name="sub">
                              <label for="subject">Subject</label>
                           </div>
                           <!--EMAIL-->
                           <div class="input-field">
                              <input id="email" type="email" class="validate" name="email" required>
                              <label for="email">Email</label>
                           </div>
                           <!--MESSAGE-->
                           <div class="input-field">
                              <textarea id="content" class="materialize-textarea" name="message"
                                 required></textarea>
                              <label for="content">Message</label>
                           </div>
                           <!-- SEND BUTTON -->
                           <div class="contact-send">
                              <button id="sendButton" name="contactSubmit" type="submit" value="Submit"
                                 class="btn waves-effect">Send
                              </button>
                           </div>
                        </form>
                     </div>
                     <!--FORM LOADER-->
                     <div id="form-loader" class="progress is-hidden">
                        <div class="indeterminate"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--==========================================
         SCROLL TO TOP
         ===========================================-->
      <div id="scroll-top">
         <div id="scrollup"><i class="fa fa-angle-up"></i></div>
      </div>
      <!--==========================================
         FOOTER
         ===========================================-->
      <footer>
         <div class="container">
            <!--FOOTER DETAILS-->
            <p class="text-center">
               © All right reserved by
               <a href="https://webpaget.com/" target="_blank">
               <strong>Webpaget.com</strong>
               </a>
            </p>
         </div>
      </footer>
      <!--==========================================
         SCRIPTS
         ===========================================-->
      <script src="/static/js/elegant/jquery.min.js"></script>
      <script src="/static/js/elegant/bootstrap.min.js"></script>
      <script src="/static/js/elegant/materialize.min.js"></script>
      <script src="/static/js/elegant/retina.min.js"></script>
      <script src="/static/js/elegant/scrollreveal.min.js"></script>
      <script src="/static/js/elegant/swiper.jquery.min.js"></script>
      <script src="/static/js/elegant/jquery.magnific-popup.min.js"></script>
      <script src="/static/js/elegant/custom.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="{{ url_for('static', filename='js/sendmail.js')}}"></script>  
   </body>
</html>