
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Welcome to my portfolio</title>
        <link rel="icon" href="images/site/fav-icon.png">
        <link rel="apple-touch-icon" href="images/site/apple-touch-icon.png">
   
        <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- STYLES -->
        <link href="/static/css/elegant/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/elegant/animate.min.css" rel="stylesheet">
        <link href="/static/css/elegant/magnific-popup.css" rel="stylesheet">
        <link href="/static/css/elegant/swiper.min.css" rel="stylesheet">
        <link href="/static/css/elegant/materialize.css" rel="stylesheet">
        <link href="/static/css/elegant/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/elegant/style.css" id="switch_style" rel="stylesheet">
     </head>
<body>


<!--==========================================
                  PRE-LOADER
===========================================-->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="box-holder animated bounceInDown">
                <span class="load-box"><span class="box-inner"></span></span>
            </div>
            <!-- NAME & STATUS -->
            <div class="text-holder text-center">
                <h2>MY PORTFOLIOS</h2>
                <h6>Explore My Full Portfolio</h6>
            </div>
        </div>
    </div>
</div>


<!--==========================================
                  BACK TO HOME
===========================================-->
<div class="back-button"><span><i class="fa fa-angle-double-left"></i></span></div>


<!--==========================================
                 BACKGROUND
===========================================-->
<div class="single-background" style="background-image: url('/static/images/portfolios/{{port.portpic()}}')"></div>

<!--==========================================
                 SINGLE PORTFOLIO
===========================================-->
<section class="single-page">
    <div class="container">
        <!--SECTION TITLE-->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="{{ url_for('static', filename='images/resume_img/portfolio.png') }}" alt="demo">Portfolios</h4>
        </div>
        <!--PORTFOLIO HOLDER-->
        <div class="row" id="primary">
            <!--PORTFOLIO CONTENT-->
            <div id="content" class="col-sm-12">
                <div class="post card">
                    <!--PORTFOLIO IMAGE SLIDER-->
                    <div class="post-image">

                        <!-- SLIDER STRUCTURE -->
                        <div id="clients-slider"
                             class="swiper-container swiper-container-portfolios">
                            <div class="swiper-wrapper">
                                {% for portpic in port.portpics() %}
                                <div class="swiper-slide">
                                    <img class="img-responsive" alt="demo" src="{{ url_for('static', filename='images/portfolios/'+portpic) }}">
                                </div>
                                {% endfor %}
                            </div>
                            <!-- ADD PAGINATION -->
                            <div class="swiper-pagination swiper-pagination-portfolios"></div>
                        </div>

                    </div>

                    <!--PORTFOLIO TITLE AND DETAILS-->
                    <header>
                        <h2>{{ port.project_name }}
                            <time datetime="2045-08-16">{{ port.creation_time }}</time>
                        </h2>
                        <hr>
                        <div class="project-detail">
                            <p><strong>Delivered :</strong>{{port.creation_time}}</p>
                            <p><strong>Link :</strong><a href="https://{{port.website}}">{{port.website}}</a>
                            </p>
                            <p><strong>Tag :</strong>{{port.tag}}</p>
                        </div>
                    </header>
                    <!--BODY-->
                    <div class="post-body">
                        <h3>Project Details</h3>
                        <p>{{ port.description }} </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<!--==========================================
                 SCROLL TO TOP
===========================================-->
<div id="scroll-top">
    <div id="scrollup"><i class="fa fa-angle-up"></i></div>
</div>

<!--==========================================
                 FOOTER
===========================================-->
<footer class="single-footer">
    <div class="container">
        <!--FOOTER DETAILS-->
        <p class="text-center">
            © Material CV. All right reserved by
            <a href="http://trimatrixlab.com/" target="_blank">
                <strong>Trimatrixlab</strong>
            </a>
        </p>
    </div>
</footer>

    <!--==========================================
                        SCRIPTS
    ===========================================-->
    <script src="/static/js/elegant/jquery.min.js"></script>
    <script src="/static/js/elegant/bootstrap.min.js"></script>
    <script src="/static/js/elegant/materialize.min.js"></script>
    <script src="/static/js/elegant/retina.min.js"></script>
    <script src="/static/js/elegant/scrollreveal.min.js"></script>
    <script src="/static/js/elegant/swiper.jquery.min.js"></script>
    <script src="/static/js/elegant/single-page.js"></script>

   </body>
</html>